<!doctype html>
<html>
<head>
<meta charset="iso-8859-1">
<title>Dossier Finkaluz</title>

<link rel="icon" type="image/jpg" href="favi_fincaluz.jpg"/>

<meta name="author" content="Pepe Talon"/>

<style>

@font-face {
font-family: 'Baloo';
src: url('Baloo.ttf');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'CenturyGothic';
src: url('CenturyGothic.TTF') format('truetype');
font-weight: normal;
font-style: normal;
}

h1, h2, h3 {font-family: 'Baloo', sans-serif; line-height: 100%; font-weight: 300 }

ul, li, p {text-align: left; font-family: 'CenturyGothic', sans-serif !important}
	
a:hover {opacity:.5}

</style>

</head>

<body>

<center>


<div style="background-size:contain; background:url(https://finkaluz.com/dosier/fondo.jpg) bottom no-repeat; font-family:'CenturyGothic', sans-serif; padding-bottom:20px; text-align:center">

<div style="display:inline-block; max-width:700px">

<a title="finkaluz.com" href="https://finkaluz.com/" target="_blank"><img alt="finkaluz" src="https://finkaluz.com/dosier/Logo_finkaluz.png" style="width:350px" /></a>

<h2><span style="font-size:22px"><em>LA EFICIENCIA ENERG&Eacute;TICA HA LLEGADO A SU COMUNIDAD.</em></span></h2>

<p>Revisi&oacute;n personalizada de cada uno de los puntos de suministro mediante un estudio exhaustivo de las necesidades y la optimizaci&oacute;n de la energ&iacute;a, midiendo la ratio necesidad-consumo-gasto.</p>

<h3>SERVICIOS:</h3>

<ul>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>ILUMINACI&Oacute;N</strong>: Sustituci&oacute;n de iluminaci&oacute;n existente por tecnolog&iacute;a led de bajo consumo.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>POTENCIAS</strong>: Ajustamos las potencias en funci&oacute;n de un estudio personalizado del max&iacute;metro para su optimizaci&oacute;n.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>TARIFAS</strong>: An&aacute;lisis de curvas de carga para el ajuste de la mejor tarifa seg&uacute;n sus h&aacute;bitos de consumo.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>STAND BY</strong>: Ajuste y eliminaci&oacute;n de consumos indeseados en la instalaci&oacute;n.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>PISCINA</strong>: An&aacute;lisis de filtraci&oacute;n anual e instalaci&oacute;n de aut&oacute;mata programable personalizado.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>MONITORIZACI&Oacute;N</strong>: Control sobre los consumos para que los ahorros no desaparezcan por despistes o negligencias.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>AUTOCONSUMO Y PANELES FOTOVOLTAICOS</strong>: Estudio, montaje e instalaci&oacute;n global con placas solares de &uacute;ltima generaci&oacute;n.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important"><strong>PLATAFORMA Y ASESOR PERSONAL</strong>: Todos los suministros controlados a trav&eacute;s de un &aacute;rea privada a un solo &ldquo;click&rdquo; de cualquier gesti&oacute;n con respecto al suministro, adem&aacute;s de un asesor personal encargado &uacute;nicamente de todas las consultas y dudas.</li>
</ul>


<h3>&iexcl;APROVECHE ESTA OPORTUNIDAD!</h3>

<ul>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important">&iexcl;Todos estos servicios sin ning&uacute;n tipo de inversi&oacute;n econ&oacute;mica por parte de la comunidad!</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important">Consulte nuestros planes de 1, 2 &oacute; 5 a&ntilde;os de contrato, en los que le financiaremos en sus facturas, tanto de iluminaci&oacute;n como de placas solares, con el objetivo &uacute;nico de que el ahorro producido en el suministro cubra todos los gastos.</li>
	<li style="text-align:left; margin-left:-20px !important; margin-top:10px !important">Le ofrecemos una oportunidad exclusiva de estar a la cabeza en eficiencia energ&eacute;tica sin desembolsar un solo euro.</li>
</ul>


<a title="finkaluz.com" href="https://finkaluz.com/" style="color: black; text-decoration: none" target="_blank">https://finkaluz.com <img src="https://finkaluz.com/dosier/qrCodeFinkaluz.jpg" alt="QR_Finkaluz" style="margin: 10px; overflow:visible; width:100px; vertical-align: middle; border-radius: 10px; -webkit-filter: drop-shadow(0px 0px 2px #666); filter: drop-shadow(0px 0px 2px #666)"></a>

</div>

</div>

</center>

</body>

</html>
