{% extends 'base.html.twig' %}

{% block body %}
	<section class="" id="bateria-condensadores">
		<div class="container my-5">
			<h2 class="font-size-35 text-center text-uppercase">batería de condensadores</h2>
			<h4 class="font-size-20">¿Qué es?</h4>
			<p>Básicamente, la función de una batería de condensadores es introducir una potencia reactiva en la misma dirección, pero en sentido opuesto a la potencia reactiva inductiva consumida por los receptores de nuestra instalación (QTotal = QL-QC).</p>
			<h4 class="font-size-20">¿Para qué sirve?</h4>
			<ul>
				<li>Reducción de potencia aparente. Al reducir la potencia reactiva conseguimos aproximar la potencia aparente solicitada al sistema eléctrico a la potencia activa real solicitada, dejando mas potencia disponible para aumentar el consumo de la instalación sin necesidad de tener que ampliarla o modificarla.</li>
				<li>Mejora de la calidad de tensión. Al reducir la potencia aparente también se reducirá la corriente eficaz, con lo que se reducirá la caída de tensión al pasar menos corriente por el sistema de distribución de la instalación.</li>
				<li>Reducir la factura eléctrica. En muchos países se penaliza el consumo de energía reactiva a través de la medición del factor de potencia o cos phi de la instalación. Por ejemplo, en España se penaliza cuando el factor de potencia es inferior a 0,95. Con una batería de condensadores corregimos ese factor de potencia por encima del valor de penalización.</li>
			</ul>
		</div>
	</section>
	<section class=" bg-light" id="placas-fotovoltaicas">
		<div class="container my-5">
			<h2 class="font-size-35 text-center text-uppercase">placas fotovoltaicas</h2>
			<h4 class="font-size-20">¿Qué es?</h4>
			<p>La energía solar fotovoltaica es una fuente de energía que produce electricidad de origen renovable, obtenida directamente a partir de la radiación solar mediante un dispositivo semiconductor denominado célula fotovoltaica, o bien mediante una deposición de metales sobre un sustrato denominada célula solar de película fina. Esta se ha convertido en la tercera fuente de energía renovable más importante en términos de capacidad instalada a nivel global.</p>
			<h4 class="font-size-20">¿Por qué es la mejor opción</h4>
			<p>La energía eléctrica generada mediante paneles solares fotovoltaicos es inagotable y no contamina, por lo que contribuye al desarrollo sostenible, además de favorecer el desarrollo del empleo local.</p>
		</div>
	</section>
	<section class="" id="iluminacion-led">
		<div class="container my-5">
			<h2 class="font-size-35 text-center text-uppercase">iluminación led</h2>
			<h4 class="font-size-20">¿Para qué sirve?</h4>
			<ul>
				<li>Reducción de potencia aparente. Al reducir la potencia reactiva conseguimos aproximar la potencia aparente solicitada al sistema eléctrico a la potencia activa real solicitada, dejando mas potencia disponible para aumentar el consumo de la instalación sin necesidad de tener que ampliarla o modificarla.</li>
				<li>Mejora de la calidad de tensión. Al reducir la potencia aparente también se reducirá la corriente eficaz, con lo que se reducirá la caída de tensión al pasar menos corriente por el sistema de distribución de la instalación.</li>
				<li>Reducir la factura eléctrica. En muchos países se penaliza el consumo de energía reactiva a través de la medición del factor de potencia o cos phi de la instalación. Por ejemplo, en España se penaliza cuando el factor de potencia es inferior a 0,95. Con una batería de condensadores corregimos ese factor de potencia por encima del valor de penalización.</li>
			</ul>
		</div>
	</section>
	<section class=" bg-light" id="cargador-de-coches-electricos">
		<div class="container mt-5">
			<h2 class="font-size-35 text-center text-uppercase">cargador de coches eléctricos</h2>
			<ul>
				<li>En Finkaluz te ofrecemos todo lo que necesitas para cargar tu vehículo eléctrico, ya que disponemos de un amplio catálogo de cargadores y de un equipo técnico que se encarga de la instalación del punto de recarga.</li>
				<li>Finkaluz, a través de su avanzada tecnología, quiere hacer tu día a día mucho más sencillo. Si ya has dado el paso para comprar un vehículo eléctrico o estás pensando en hacerlo, en Finkaluz realizamos un estudio para ofrecerte la opción que mejor se adapte a tus necesidades.</li>
				<li>En la búsqueda de un mundo sin contaminación ambiental, la campaña es unirnos a la movilidad eléctrica, por eso Finkaluz ofrece asesoramiento e información sobre puntos de recarga de vehículos eléctricos a los técnicos de la Administración Pública y juntos encontrar lugares estratégicos para promover la movilidad sostenible a través de la instalación de puntos de recarga.</li>
			</ul>
		</div>
	</section>
{% endblock %}
