<head>
</head>
<body>
<p>Has recibido un nuevo mensaje del formulario de contacto web.</p>

<p>Aqui estan los detalles:</p>
<br/>
<div>
    <div>Email: {{ email_address }}</div>
    <div>Telefono: {{ phone }}</div>
</div>
</body>