<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col"></div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <span href="index.html" class="logo"><img src="images/logo2.png" alt="" class="img-fluid" style="max-height: 20%"></span>
                    <p>
                        Plaza Ayuntamiento 11, 4º, 7 <br>
                        46002 Valencia<br>
                        España <br><br>
                        <a href="tel:+34900908878" style="color: inherit;text-decoration: inherit;">
                            <i class="bi bi-telephone"></i>
                            <strong>Teléfono:</strong> 900 90 88 78
                        </a><br>
                        <a href="mailto:finkaluz@finkaluz.com" style="color: inherit;text-decoration: inherit;">
                            <i class="bi bi-envelope"></i>
                            <strong>Email:</strong> finkaluz@finkaluz.com
                        </a><br>
                    </p>
                </div>

                <div class="col"></div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Redes sociales</h4>
                    <p>Síguenos para enterarte de las últimas noticias y promociones especiales</p>
                    <div class="social-links mt-3 row">
                        <div class="col-1"></div>
                        <a href="https://www.instagram.com/finkaluz/" class="instagram col-auto"><i class="bx bxl-instagram"></i></a>
                        <div class="col"></div>
                    </div>
                </div>

                <div class="col"></div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Enlaces importantes</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/politica-privacidad">Política de privacidad</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://clientes.finkaluz.com">Área de clientes</a></li>
                    </ul>
                </div>

                <div class="col"></div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            &copy; Copyright <strong><span>Finkaluz</span></strong>. Todos los derechos reservados.
        </div>
        <div class="credits">
            Diseñado por <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
            Contiene imágenes proporcionadas por <a href="https://www.freepik.com/free-photo/medium-shot-couple-cooking-kitchen_16688834.htm#query=electric%20kitchen&position=7&from_view=search&track=ais">Freepik</a>
            y <a href="https://www.freepik.com/free-vector/electricity-lighting-flowchart-with-characters-electrical-fitters-with-power-panels-infrastructure-elements_13705574.htm#query=corporate%20illustration%20electricity&position=18&from_view=search&track=ais#position=18&query=corporate%20illustration%20electricity">macrovector</a> en Freepik
        </div>
    </div>
</footer><!-- End Footer -->