<div class="alert text-center cookiealert alert-warning" role="alert">
	Le informamos que, desde el día <span class="bold">7 al 20 de agosto</span>, solo antenderemos al teléfono móvil
	{#<span class="bi-telephone"></span>&nbsp;#}<a class="bold" href="tel:+34608927180">608 92 71 80</a>
	o por correo electrónico a
	{#<span class="bi-envelope"></span>&nbsp;#}<a class="bold" href="mailto:finkaluz@finkaluz.com">finkaluz@finkaluz.com</a>.
	Disculpe las molestias.

	<button type="button" class="btn btn-warning btn-sm acceptcookies">
		De acuerdo
	</button>
</div>
<div class="bg-primary py-5 mt-5">
	<div class="container">
		<div class="row padding-top-bottom">
			<div class="col-lg-6 flex justify-content-center align-items-center">
				<div class="flex justify-content-center h-100 align-items-center">
					<p style="line-height:1em; margin-left: 10px" class="text-white">
						<span class="bold">Finkaluz, la eléctrica que sí piensa en las personas.</span>
						<br>
						Sin comisiones. Sin sorpresas. Sin secretos.
					</p>
				</div>
			</div>
			<div class="col-lg-6">
				<p class="text-white bold flex">
					<span class="bi-telephone"></span>
					&nbsp;
					<a class="text-white bold" href="tel:+34900908878">900908878</a>
				</p>
				<p>
					<a href="https://goo.gl/maps/uDid7BDx6eLKoTuv5" target="_blank" class="text-white bold"><span class="bi-geo-alt"></span> Avenida Alicante 33, 4 - 46701 Gandia</a>
				</p>
				<p>
					<a href="https://goo.gl/maps/NVLcnSBWLSzxPpgw8" target="_blank" class="text-white bold"><span class="bi-geo-alt"></span> Plaza Ayuntamiento 11, 4º, 7 - 46002 Valencia</a>
				</p>
				<p class="text-white bold flex">
					<span class="bi-envelope"></span>
					&nbsp;
					<a class="text-white bold" href="mailto:finkaluz@finkaluz.com">finkaluz@finkaluz.com</a>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="bg-footer py-5">
<div class="container">
	<div class="row padding-top-bottom">
		<p class="text-center mb-0 text-white">
			©2022 Finkaluz. Todos los derechos reservados.
		</p>
		<div class="flex justify-content-center"></div>
	</div>
</div></div>
